@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}
@theme{
        --color-primary: #f0f1e8;
        --color-primary-dUll: #fff;
}